/*
@font-face {
	font-family: FreeSerif;
	src: url(freeserif.woff);
}
@font-face {
	font-family: FreeSerif;
	font-style:italic;
	src: url(freeserifItalic.woff);
}
@font-face {
	font-family: FreeSerif;
	font-style:italic;
	font-weight:bold;
	src: url(freeserifBoldItalic.woff);
}
@font-face {
	font-family: FreeSerif;
	font-weight:bold;
	src: url(freeserifBold.woff);
}
*/
@font-face {
	font-family: FancyVR;
	src: url(FancyVR.woff);
}
@font-face {
	font-family: BlackLetter;
	src: url(oldlondon.woff);
}
span.VR {
	font-family:FancyVR, serif;
	color:red;
	font-style:normal;
}
.d::first-letter {
	font-family:BlackLetter;
	font-size:400%;
	float:left;
	width:1em;
	color:red;
}
.r { color:red; }
.nr {color:black; }
.ind { text-indent:1em; }



h1,h2,h3,h4 { text-align:center; }
body{
	font-family:FreeSerif, serif;
	/*max-width:40em;*/
	background-color:#ffffff;
	padding:1em;
	text-align:justify;
}
p{
	color:#000000;
	margin:0;
}
.m{
	text-indent:2em;
	text-align:justify;
	padding: 0 0 1em 0;
}
.c{
	text-align:center;
}
.q{
	padding:0 1em 0 1em;
}
.q1{
	text-indent:-2em;
	padding:0 2em 0 4em;
}
.q2{
	text-indent:-2em;
	padding:0 4em 0 6em;
}
sup {
	font-size:65%
}

